/* Default Styles */

body{
	background-color: #ffffff; 
}

h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

h2{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;	
}

a{
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p{  
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: large;
	line-height: 2em;
	text-align: center;
	color: #000000;
}

hr{
	width: 50%;
	color: #686968;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    margin-left: auto;
    margin-right: auto;
    border-style: inset; 
    border-width: 1px;
}


/* #8c8c8c */
.mainline{ 
    width: 50%;	
    padding: 0;
    border: none; 
    border-top: medium double #686968; 
    color: #686968; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;  
} 
.mainline:after{ 
  content: "§"; 
  display: inline-block; 
  position: relative; 
  top: -0.7em; 
  font-size: 1.5em; 
  padding: 0 0.25em; 
  background: #fff; 
}


img{
	max-width: 100%;
	margin: auto;
}

footer{

}

.container{
    padding: 3%;
}

.row{
	padding-top: 3%;
}

.parajustify{
    text-align: justify;
}

.points li{
	font-size: large;
	line-height: 3em;
	text-align: justify;
	color: #000000;
	list-style-type: none;
}

.imagecenter{
	text-align: center;
}

/* Default Navigation Bar */

#NavigationBar .dropdown-menu{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none
}

#NavigationBar .dropdown-submenu {
    position: initial;
}

#NavigationBar .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 101%;
  color: #648799;
  background-color: #add6ef;
  border-color: transparent;
  border-left-width: 1px;
}

#NavigationBar .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#NavigationBar .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    position: relative; /* move the arrow that points to the sub-sub menu */
    right: 6%; /* move the arrow that points to the sub-sub menu */
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

#NavigationBar .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#NavigationBar .dropdown-submenu.pull-left {
    float: none;
}

#NavigationBar .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Fixing the problem caused by wiki */

/*
#NavigationBar .mynav{
	float: right;
}*/

#NavigationBar .mydrop{
	background-color: #b4daf0;
	border-color: transparent;
}

#NavigationBar .lactoshieldband{
	color: #686968;
}

#NavigationBar .lactoshieldband:hover{
	color: #50929c;
}

#NavigationBar .dropdown-menu > li > a:hover,
#NavigationBar .dropdown-menu > li > a:focus {
  color: #50929c;
  text-decoration: none;
  background-color: transparent;
}

#NavigationBar .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #686968;
  white-space: nowrap;
}

#NavigationBar .navbar-inverse .navbar-collapse,
#NavigationBar .navbar-inverse .navbar-form {
  border-color: transparent;
}

#NavigationBar .navbar-inverse .navbar-nav > li > a {
  color: #686968;
}

#NavigationBar .wikialign{
	top: 16px;
	border-color: transparent;
	background-color: #b4daf0;
}

#NavigationBar .navbar-inverse .navbar-nav > .open > a,
#NavigationBar .navbar-inverse .navbar-nav > .open > a:hover,
#NavigationBar .navbar-inverse .navbar-nav > .open > a:focus {
  color: #50929c;
  background-color: #add6ef;
}
/* Default Contact Section*/

.contactinfo1{
	text-align: center;
}	


/*HOME*/                                      


/* Home Cover Page  */

.jumbotron{
	background-image: url(../images/CoverPicture.png);
	max-width:100%; 
	width: 100%;
	position: relative;
	height: 945px; /*500px*/
	opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 0%;
}

.teamlogo{
	width: 40%;
	position: relative;
	top: 300px;
	left: 29%;
}

.covertext{
	position: relative;
	top: 310px;
}

.godown{
	text-align: center;
	/*background-color: #5e8c9c;*/
	position: relative;
	top: 70%;
}

.movedownicon{
	color: #a7ffeb;
	position: relative;
	top: -7px;
}

.movedownicon:hover{
	color: #d3d3d3;
}

/* Home About Section*/

#home{
	background-color: #ffffff;
}

.illustration{
	padding: 1%;
}

.cardset1{
    width: 100%;
}

/* Contact Section */
.socialicon{
	color: #333333;
}

/* PROJECT */

/* Overview */

/* Antimicrobial Peptides */

/* Temperature Sensitive Activation */

/* HUMAN PRACTICES */

/* Urban Analysis */

/* Rural Analysis */

/*  Colleges */


/*  */
.attributesubheadings{
	text-align: justify;
}